/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #fff;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}
.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g: no-repeat linear-gradient(#ccc 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 16px 14px;
  animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
}
@keyframes l7-1 {
  0%,
  100% {
    background-position: 0 -50px, 100% -50px;
  }
  17.5% {
    background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px;
  }
  35% {
    background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px;
  }
  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px;
  }
  70%,
  98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px),
      100% calc(100% - 16px);
  }
}
@keyframes l7-2 {
  0%,
  70% {
    transform: translate(0);
  }
  100% {
    transform: translate(200%);
  }
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

.box div {
  position: absolute;
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
  border-bottom-color: yellow;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle */
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid yellow;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
  background-color: #16a34a;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Square */
  width: 40px;
  height: 40px;
  border: none;
}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
  background-color: #16a34a;
  border-radius: 50%; /* Circle */
  width: 40px;
  height: 40px;
  border: none;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 11s linear infinite;
  border-bottom-color: #f97316;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle */
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #f97316;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
  background-color: #fde047;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Square */
  width: 50px;
  height: 50px;
  border: none;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 14s linear infinite;
  border-bottom-color: #fde047;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle */
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #fde047;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 13s linear infinite;
  background-color: #16a34a;
  border-radius: 50%; /* Circle */
  width: 40px;
  height: 40px;
  border: none;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 9s linear infinite;
  background-color: #f97316;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Square */
  width: 50px;
  height: 50px;
  border: none;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 12s linear infinite;
  background-color: #fde047;
  border-radius: 50%; /* Circle */
  width: 30px;
  height: 30px;
  border: none;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 8s linear infinite;
  border-bottom-color: #22c55e;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle */
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid green;
}

.box div:nth-child(11) {
  top: 40%;
  left: 55%;
  animation: animate 16s linear infinite;
  background-color: #3b82f6;
  border-radius: 50%; /* Circle */
  width: 45px;
  height: 45px;
  border: none;
}

.box div:nth-child(12) {
  top: 75%;
  left: 30%;
  animation: animate 9s linear infinite;
  background-color: #ef4444;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Square */
  width: 45px;
  height: 45px;
  border: none;
}

.box div:nth-child(13) {
  top: 50%;
  left: 70%;
  animation: animate 14s linear infinite;
  background-color: #3b82f6;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Square */
  width: 50px;
  height: 50px;
  border: none;
}

.box div:nth-child(14) {
  top: 25%;
  left: 15%;
  animation: animate 6s linear infinite;
  border-bottom-color: #3b82f6;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle */
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #3b82f6;
}

.box div:nth-child(15) {
  top: 10%;
  left: 90%;
  animation: animate 18s linear infinite;
  background-color: #ef4444;
  border-radius: 50%; /* Circle */
  width: 40px;
  height: 40px;
  border: none;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-100vh) rotate(-180deg);
    opacity: 0.8;
  }
}
